.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* App.css */
.app-title {
  font-family: 'Didot', serif; /* Keep the "Didot" font for the title */
  text-align: center;
  margin-top: 20px;
}

.app-subtitle {
  font-family: 'Didot', serif; /* Keep the "Didot" font for the subtitle */
  text-align: center;
  margin-top: 20px;
}

.notes-table {
  font-family: 'Times New Roman', serif; /* Apply "Times New Roman" to the notes */
}
/* App.css */
/* App.css */
.dark-mode {
  background-color: #1a1a1a; /* Dark background color */
  color: #ffffff; /* Light text color */
}

.dark-mode .dark-text {
  color: #ffffff; /* Text color in dark mode */
}

.dark-mode .dark-link {
  color: #2a8cdc; /* Text color in dark mode */
}
.dark-mode .dark-subtitle {
  font-family: 'Didot', serif; /* Keep the "Didot" font for the subtitle */
  text-align: center;
  margin-top: 20px;
  color: #ffffff; /* Text color in dark mode */
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
